<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
        style="background-image: url('assets/img/cartelera.jpg');">

    </div>
</div>


<div class="card-container">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1 class="filmTitle">John Doe</h1>
                <h2>GENERO</h2>
                <h3>PAIS</h3>
                <h4>DURACION</h4>
            </div>
            <div class="flip-card-back">
                <p class="filmDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores incidunt
                    perferendis dolorum libero molestiae cumque adipisci quo, at harum ipsa a rerum doloremque veniam
                    cum
                    sunt quos itaque suscipit corrupti temporibus fuga repudiandae! Sint neque sequi, soluta perferendis
                    dolore ducimus!</p>
                <button class="button" (click)="seeDetails()"><span>DETALLES</span></button>
            </div>
        </div>
    </div>


</div>