<app-book-header></app-book-header>

<div class="card-container">
    <div *ngFor='let film of showingList' class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3 class="filmTitle">{{ film.filmName}}</h3>
                <!-- <h2>GENERO</h2>
                <h3>PAIS</h3> -->
                <h4>{{ film.filmLength}} min</h4>
            </div>
            <div class="flip-card-back">
                <p class="filmDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores incidunt
                    perferendis dolorum libero molestiae cumque adipisci quo, at harum ipsa a rerum doloremque veniam
                    cum
                    sunt quos itaque suscipit corrupti temporibus fuga repudiandae! Sint neque sequi, soluta perferendis
                    dolore ducimus!</p>
                <button class="button" (click)="seeDetails()"><span>DETALLES</span></button>
            </div>
        </div>
    </div>


</div>