<app-book-header></app-book-header>

<div class="card-container">
    <div *ngFor='let film of showingList' class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3 class="filmTitle"><b>{{film.filmName}}</b></h3>
                <h3>{{film.filmGenre}}</h3>
                <h3>{{film.filmCountry}}</h3>
                <h4>{{film.filmLength}} min</h4>
            </div>
            <div class="flip-card-back">
                <p class="filmDescription">
                    {{film.filmSynopsis}}
                </p>
                <button class="button" (click)="seeDetails(film.filmID)"><span>DETALLES</span></button>
            </div>
        </div>
    </div>


</div>