<app-book-header></app-book-header>


<div class="container">
    <button class="btn btn-primary btn-round btn-add" type="button" (click)="createShowing()">
        <i class="now-ui-icons ui-1_simple-add"></i>
        NUEVA PRESENTACIÓN
    </button>
    <h2 class = "title"> Proyecciones Disponibles</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 10%;">Hora de Inicio</th>
                <th scope="col" style="width: 10%;">Película</th>
                <th scope="col" style="width: 10%;">Sala</th>
                <th scope="col" style="width: 10%;">Duración</th>
                <th scope="col" style="width: 20%;">Acciones</th>
            </tr>
        </thead>
        <tbody>          
        <tr  *ngFor="let d of showingList"  > 
            <th scope="row">{{d.startDate  | date: 'short'}} </th>
            <th scope = "row"> {{d.filmName}}</th>
            <th scope="row">{{d.roomID}}</th>
            <th scope="row">{{d.filmLength}}</th>
           
            <td>
                <button class="btn btn-warning btn-round" type="button">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                    EDITAR
                </button>

                <button class="btn btn-danger btn-round" type="button" (click)="OnDelete(d.filmID, d.roomID, d.startDate,d.filmLength )">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                    ELIMINAR
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>