<app-book-header></app-book-header>


<div class="container">
    <button class="btn btn-primary btn-round btn-add" type="button" (click)="createFilm()">
        <i class="now-ui-icons ui-1_simple-add"></i>
        NUEVA PELÍCULA
    </button>
    <button class="btn btn-primary btn-round btn-add" type="button" (click)="OrderFilmsByRating()">
        Mostrar Películas Con Mayor Rating.
    </button>

    <!-- <button class="btn btn-primary btn-round btn-add" id="country" type="button" (click)="SelectFilmsByCountry()">
        Mostrar Películas De Nacionalidad .
    </button>
    <input type="text" [(ngModel)]="country"  placeholder="USA" > -->


    <h2 class="title"> Películas Disponibles </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 5%;">Id</th>
                <th scope="col" style="width: 20%;">Nombre</th>
                <th scope="col" style="width: 10%;">Duración</th>
                <th scope="col" style="width: 10%;">País</th>
                <th scope="col" style="width: 20%;">Género</th>
                <th scope="col" style="width: 5%;">Rating</th>
                <th scope="col" style="width: 30%;">Acciones</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let d of filmsList">
                <th scope="row">{{d.filmID }} </th>
                <td>{{d.name}}</td>
                <td>{{d.filmLength}}</td>
                <td>{{d.country}}</td>
                <td>{{d.genre}}</td>
                <td>{{d.rating}}</td>
                <td>
                    <button class="btn btn-danger btn-round" type="button" (click)="OnDelete(d.filmID)">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>