<div class="card">
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'" class="text-center">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons objects_umbrella-13"></i> Pelicula
                    </ng-template>
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_cart-simple"></i> Fecha
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p> I will be the leader of a company that ends up being worth billions of dollars, because
                            I got the answers. I understand culture. I am the nucleus. I think that’s a
                            responsibility that I have, to push possibilities, to show people, this is the level
                            that things could be at. I think that’s a responsibility that I have, to push
                            possibilities, to show people, this is the level that things could be at. </p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_shop"></i> Salon
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this
                            is the level that things could be at. So when you get something that has the name Kanye
                            West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader
                            of a company that ends up being worth billions of dollars, because I got the answers. I
                            understand culture. I am the nucleus.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>