<app-book-header></app-book-header>

<div class="container">
    <button class="btn btn-primary btn-round btn-add" type="button" (click )="createMember()">
        <i class="now-ui-icons ui-1_simple-add"></i>
        NUEVO MIEMBRO
    </button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Puntos</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <button class="btn btn-warning btn-round" type="button">
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                        EDITAR
                    </button>
                    <button class="btn btn-danger btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>
                    <button class="btn btn-warning btn-round" type="button">
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                        EDITAR
                    </button>
                    <button class="btn btn-danger btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>
                    <button class="btn btn-warning btn-round" type="button">
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                        EDITAR
                    </button>
                    <button class="btn btn-danger btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr> -->


            <tr  *ngFor="let d of data"  > 
                <th scope="row">{{d.id }} </th>
                <td>{{d.nombre}}</td>
                <td>{{d.puntos}}</td>
                <td>
                    <button class="btn btn-warning btn-round" type="button">
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                        EDITAR
                    </button>
                    <button class="btn btn-danger btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>