<app-book-header></app-book-header>

<div class="container">
    <button class="btn btn-primary btn-round btn-add" type="button" (click)="createMember()">
        <i class="now-ui-icons ui-1_simple-add"></i>
        NUEVO MIEMBRO
    </button>
    <h2 class="title"> Miembros del Club </h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID de Miembro</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nick</th>
                <th scope="col"> Correo</th>
                <th scope="col">Puntos</th>
                <th scope="col" style="width: 30%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of memberList">
                <th scope="row">{{d.memberID}} </th>
                <td scope="row">{{d.user.name}}</td>
                <td scope="row"> {{d.user.nick}} </td>
                <td scope="row">{{d.email}}</td>
                <td scope="row">{{d.points}}</td>
                <td scope="row">
                    <button class="btn btn-warning btn-round" type="button">
                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                        EDITAR
                    </button>
                    <button class="btn btn-danger btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>