<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <!-- <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Dropdown header</a>
          <a class="dropdown-item" [routerLink]="['/admin']">Admin</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">One more separated link</a>
        </div>
      </div>
    </div> -->
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="middle">
        <h3 id="title">Cine++</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!this.authService.isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">
              <p>Registrarse</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">
              <p>Entrar</p>
            </a>
          </li>
        </ng-template>

        <ng-template [ngIf]="this.authService.isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/cartelera">
              <i class="now-ui-icons media-1_album"></i>
              <p>Cartelera</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/refund">
              <i class="now-ui-icons business_money-coins"></i>
              <p>Reembolso</p>
            </a>
          </li>
        </ng-template>

        <ng-template [ngIf]="this.authService.isAuthenticated && this.authService.userRole() === Role.Admin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">
              <i class="now-ui-icons ui-1_settings-gear-63"></i>
              <p>Administrar</p>
            </a>
          </li>
        </ng-template>



      </ul>
    </div>
  </div>
</nav>