<div class="container">
    <div id="film">
        <div id="nombre">

        </div>
        <div id="sinopsis">

        </div>
        <div id="genero-duracion">

        </div>
        <div id="participantes">
            <div id="actores">

            </div>
            <div id="directores">

            </div>
        </div>
    </div>
    <div class="proyeccion">
        <div id="room">
            <h2>SALA: #</h2>
        </div>
        <div id="date">
            <h2>FECHA: DD:MM:YY:HH:MM</h2>
        </div>
        <button class="btn btn-warning">Reservar</button>
    </div>
</div>