<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/book-banner.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div id="film">
                <h1>{{film.name}}</h1>
                <h2>Género: {{film.genre}}</h2>
                <h3>Duración: {{film.filmLength}} min</h3>
                <h4>Sinopsis: {{film.synopsis}}</h4>
            </div>
        </div>
    </div>
</div>


<div class="container proj">
    <table class="table table-hove" style="table-layout: auto;">
        <thead>
            <tr>
                <th>SALA</th>
                <th>FECHA Y HORA</th>
                <th>RESERVAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let show of showings">
                <td>{{show.roomName}}</td>
                <td>{{show.startDate | date : 'short'}}</td>
                <td><button class="btn btn-warning" (click)="onReserve(show)">Reservar</button></td>
            </tr>
        </tbody>
    </table>

</div>