<app-book-header></app-book-header>
<!-- Hacer uns tabla psrs compras normales y otra para compras d socios -->
<div class="container">
    <!-- <button class="btn btn-primary btn-round btn-add" type="button" (click)="createPurchase()">
        <i class="now-ui-icons ui-1_simple-add"></i>
        HACER RESERVA
    </button> -->
   
    <h2 class="title"> Reservas Realizadas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID de Usuario</th>
                <th scope="col">Película</th>
                <th scope="col">Sala</th>
                <th scope="col">Asiento</th>
                <th scope="col">Horario de Inicio</th>
                <th scope="col">Precio</th>
                <th scope="col">Codigo</th>
                <th scope="col">Pago con Puntos</th>
                <th scope="col">Puntos Usados</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of purchaseList; let i=index">
                <td  *ngIf="j < purchaseList.length" scope="row">{{p.userName}}</td>
                <td scope="row">{{p.filmName}}     </td>
                <td scope="row">{{p.roomID}}</td>
                <td scope="row">{{p.seatID}}</td>
                <td scope="row">{{p.showingStart | date: 'short'}}</td>
                <td scope="row"> {{p.price}}</td>
                <td scope="row">{{p.purchaseCode}} </td>
                <td *ngIf="p.payWithPoints ; else No" scope="row"> Si</td>
                <td  scope="row">{{p.usedPoints}} </td>
                <td scope="row">
                    <button class="btn btn-danger btn-round" type="button" (click)="OnDelete(p.seatID, p.filmID, p.roomID, p.showingStart)">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        ELIMINAR
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    

</div>

 <ng-template #No> No</ng-template>
 <ng-template #Big> No es menor </ng-template>
